<div class="aff-dropadd-controls">
    <div class="aff-dropadd-header row">
        <div class="span4"><h5><%= rc.modenames.mode1.head %></h5>

            <p><%= rc.modenames.mode1.verb %></p></div>
        <div class="span4"><h5><%= rc.modenames.mode2.head %></h5>

            <p><%= rc.modenames.mode2.verb %></p></div>

    </div>
    <div class="row">
        <div class="mode1-select span4"></div>
        <div class="mode2-select span4"></div>
        <div class="span3 aff-dropadd-submitclear">
            <h5>Click Add After Choosing</h5>
            <button class="btn btn-primary addAffiliation">Add</button>
            <button class="btn btn-inverse clearAffiliation">Clear</button>
        </div>
    </div>

</div>

<div class="afilliation-list-space">
</div>