<header class ="jumbotron subhead">
	<div class = "container">
		<h1>Health Care Connections Survey</h1>
	</div>
</header>
<div id = "main">
	<div class = "surveyControl">
		<div class = "surveyLaunchControls">
			<label class="checkbox"><input type="checkbox" id = "testingCheck"/> I'm just testing </label>
			<button class = "btn" id = "newSwabSurvey" data-loading-text="Starting..." value = "1">New Self-Swab Survey</button>
			<button class = "btn" id = "newNonSwabSurvey" data-loading-text="Starting..." value = "2">New Non Self-Swab Survey</button>
		</div>
		<div class = "helpContact">
			<h5>For questions or concerns about the study, procedures, the survey questions, or anything non-technical, call Kate:</h5>
			<p>Kate Eddens kate.eddens@uky.edu (314) 606-1345</p>
			<h5>For questions of concerns about the software, uploading surveys, how the tablets are running or anything technical, call Jesse:</h5>
			<p>Jesse Fagan jesse.fagan@uky.edu (303) 917-5653</p>
		</div>
		<!-- button class = "btn" id = "clearStorage">Clear localStorage</button -->
	</div>
	<div class = "warning-space">
	</div>
	<div class = "respondent-space">
	</div>
</div>