<div class = "row-fluid">
				<div class = 'nameinterpretTitle'><%= rc.prompt %></div>
				<% if (rc.niType === "radio") { %>
					<div class = "btn-group niRadio" data-toggle = "buttons-radio">
						<% _.each(rc.radioList,function(x) { 
							if (rc.details[rc.namelist] !== undefined) { 
								if( rc.details[rc.namelist] == x.value) {
									x.active = 'active';
								} else {
									x.active = '';
								}
							} else {
								x.active = '';
							}
						%>
							<button type = "button" class = "btn niRadioBtn <%- x.active %>" value = "<%- x.value %>">
							<%= x.desc === "" ? x.value : x.desc %> </button>
						<% }); %>
					</div>
				
				<% } %>
				<% if (rc.niType === 'checkbox') { %>
					<div class = "nameinterpretCheckboxSpace">
					</div>
					<div class = "otherControlSpace">
					</div>
				<% } %>
				
				<% if (rc.niType === 'longtext') { %>
					<div class = "nameinterpretLongtextSpace">
						<textarea rows = "3" class="longText" placeholder="Response Here" ><%- rc.details[rc.qn] %></textarea>
					</div>
				<% } %>
			</div>